@* Using's at the top *@

@using System

@* @inherits Next *@

@inherits RazorView<IEnumerable<object>>

<ul>
@* keep Loops and IFs indented -1, so that the markup is generated with correct indentation *@
@foreach(var thing in ViewModel)
{
	<li>@thing</li>
}

</ul>

@* data tracks should be added to any button on customer facing sites with following structure
	category-label-action
snake case should be used for each of the sections if multiple words are needed, and sections 
are seperated by a dash*@
<button data-track="category-action-label_with_snake_case">
	@Terms.ButtonCallToAction
</button>