
// Selectors
//	Braces on a new line
#selector
{
	// Rules
	//	Note the whitespacing; `property: value;`
	//	Rules that belong to the selector are placed above nested selectors
	background-color: green;

	// Pseudo selectors and & rules
	//	Come below rules and above nested selectors
	&:before
	{
		content: '';
	}

	// Nested selectors
	//	Placed below rules for the current selecor
	ul
	{
		color: red;
	}

	// Nested selectors
	//	Try to reduce nesting where possible, e.g. this li doesnt need to be in the above ul, as thats an implicit html structure
	li
	{
		border: 1px solid #000;
	}
}


// Mutliple selectors
//	Each on a new line
//	leading comma on the 2nd+ item (makes reading diffs easier)
h1
,h2
,h3
{
}